.Form .enter,
.Form .search,
.Form .current {
  border: 1px solid #a3d4f7;
}

.Form .enter {
  border-bottom-left-radius: 0;
  height: 56px;
  padding: 26px 0 26px 16px;
}

.Form .search,
.Form .current {
  background: #ffefe4;
  color: #646464;
  min-width: 90px;
  width: 85px;
}

.Form .current {
  border-bottom-right-radius: 0;
}

.Form .search:hover,
.Form .current:hover {
  background: #ffe0cb;
  border: 1px solid #84acc9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
